---
title: Danielle Tomlinson
---
<section class="home">
<h2>Hello</h2>

<p>I’m a software engineer currently travelling and working for <a href="https://ride.com">Ride</a>. A lot of my time is spent writing Swift and Objective-C although I'm currently really enjoying Elixir. I also have an infrequently updated <a href="/blog">blog</a>. Formerly, I wrote for <a href="http://www.theguardian.com/profile/daniel-tomlinson">the</a> <a href="http://www.theguardian.com/technology/2014/mar/08/programming-saved-me-from-bullying">Guardian</a>.</p>

<h2>Projects</h2>

<ul>
  <% projects().each do |project| %>
    <li><a href="<%= project['link'] %>"><%= project['name'] %></a>: <%= project['description'] %></li>
  <% end %>
</ul>

<p>You can find more projects on <a href="https://github.com/DanToml">GitHub</a>.</p>

<h2>Talks</h2>

<p>Below are a few of the talks I’ve given recently.</p>

<ul>
  <% talks().each do |talk| %>
    <li><%= talk['date'] %>: <a href="<%= talk['link'] %>"><%= talk['name'] %></a></li>
  <% end %>
</ul>

<h2>Blog</h2>

<p>Below are a few of the <a href="/blog">blog posts</a> I’ve published recently.</p>

<ul>
<% recent_articles(3).each do |article| %>
          <li><%= article.date.strftime('%d/%m/%Y') %>: <%= link_to article.title, article %></li>
<% end %>
</ul>


<h2>Work</h2>

<p>I have been primarily working on iOS software since 2008. I really enjoy working on application internals, frameworks, and libraries (such as data persistence, networking, and caching), but am also experienced with UI level development with Auto/manual Layout and CoreAnimation.</p>

<p>If you need someone to help with application architecture, persistence, or networking - I have 20 hours a month available for consultancy.</p>
<ul>
  <li>March 2016: Booked</li>
  <li>April 2016: Available</li>
  <li>May 2016: Booked</li>
  <li>June 2016: Booked</li>
  <li>July 2016: Available</li>
  <li>August 2016: Available</li>
</ul>


<h2>Contact Me</h2>

<p>If you wish to get in touch, then you can <a href="https://twitter.com/dantoml">tweet @dantoml</a>, or if it’s more private then <a href="mailto:dan@tomlinson.io">email dan@tomlinson.io</a>.</p>
</section>

<br />
<br />
<br />
